body {
    font-family: 'Arial', sans-serif;
    margin: 0%;

}

* {
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
}

/* Navigation Bar Styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    color: #335576;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar__logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 100px;
}

.navbar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 100px;
}

.navbar__item {
    margin-right: 20px;
}

.navbar__item:hover {
    color: #DB7A4E;
}

.navbar__item--active {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    color: #DB7A4E;
}

.navbar__logo img {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
}


/* Footer Styles */
.footer {
    background-color: #FEFAF5;
    color: #335576;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.footer__section {
    flex: 1;
}

.footer h3 {
    color: #335576;
}

.footer__section-social img {
    padding: 10px;
    margin-top: 20px;
    height: 40px;
}

.footer .link{
    color: #335576;
    font-size: 16px;
    font-weight: bold;

}
.email {
    padding-left: 180px;
    text-align: left;
}

.email h4 {
    color: #335576;
}

.email p {
    color: #DB7A4E;
    font-size: small;
}

.timetable {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.day-time {
    text-align: left;
    margin-bottom: 10px;
}

.day-time h5 {
    color: #335576;
}

.day-time p {
    color: #DB7A4E;
    font-size: small;
}

/* Home Page - Hero Section */
.home__hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    background-color: #FEFAF5;
}

.home__hero-text {
    width: 50%;
    margin: 7%;
    text-align: left;
}

.home__hero-text h1,
.home__hero-text p {
    color: #335576;
}

.home__hero-image {
    width: 30%;
}

.home__button {
    background-color: #DB7A4E;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

/* Home Page - Recommendations Section */
.home__recommendations {
    margin: 7%;
}

.home__recommendations-padding {
    padding: 0px 150px;
}

.home__recommendations-title {
    color: #335576;
}

.home__card-container {
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 100%;
}

.home__destination-card {
    flex: 0 0 30%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s;
}

.home__destination-card:hover {
    transform: scale(1.05);
}

.home__destination-name {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
}


.home__hawaii-card {
    background-image: url('../assets/images/hawaii.jpg');
}

.home__iceland-card {
    background-image: url('../assets/images/iceland.jpg');
}

.home__greece-card {
    background-image: url('../assets/images/greece.jpg');
}


/* Event */
.events {
    padding: 50px 0;
}

.events__section {
    text-align: center;
}

.event {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.event h2 {
    color: #335576;
}

.event p {
    color: #555555;
}


/* Prices */
.prices {
    padding: 100px 50px;
}

.prices__section {
    text-align: center;
}

.price-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.price-table th,
.price-table td {
    border: 1px solid green;
    padding: 8px;
}

.price-table th {
    background-color:skyblue;
}

.price-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.price-table tr:hover {
    background-color: #DB7A4E;
}

.destination-image {
    width: 100px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

/* Adventure Content Styles */
.adventures {
    padding: 100px 20px;
}

.adventures__section {
    text-align: center;
}

.adventure {
    margin-bottom: 50px;
}

.adventure__image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
}


/* Contact us */
.contact {
    padding: 100px 20px;
    text-align: center;
}

.contact__section {
    max-width: 600px;
    margin: 0 auto;
}

.contact__form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.submit-button {
    background-color: grey;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: green;
}

.destination {
    background-size: cover;
    background-position: center;
}

.destination-title {
    height: 20vh;
    text-align: left;
    color: #FFFFFF;
}

.destination-title h1 {
    font-size: 3.5rem;
    font-weight: bold;
    padding-left: 80px;
    padding-top: 50px;
}


/* Itinerary Section Styles */
.itinerary {
    text-align: center;
    height: auto;
    padding: 20px;

}

.itinerary h3 {
    color: #335576;
    margin-bottom: 20px;
}

.itinerary-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 15rem;
    margin-right: 15rem;
}

.itinerary-card {
    flex: 0 0 20%;
    margin: 50px;
    padding: 20px;
    background-color: White;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.itinerary-card h3 {
    color: black;
    border-bottom: 3px solid black
}

.itinerary-card ul {
    list-style-type: none;
    padding: 0;
}

.itinerary-card li {
    margin-bottom: 10px;
    background-color: #FEFAF5;
    padding: 20px;
}


/* For screens smaller than 768px (mobile devices) */
@media (max-width: 768px) {
    .navbar__logo {
        margin-left: 20px; 
    }

    .navbar__list {
        margin-right: 20px; 
    }

    .navbar__item {
        margin-right: 10px; 
    }

    .footer {
        flex-direction: column; 
        align-items: center; 
    }

    .footer__section {
        margin-bottom: 20px;
    }

    .email {
        padding-left: 20px; 
        text-align: center; 
    }

    .timetable {
        flex-direction: column; 
    }

    .day-time {
        text-align: center; 
    }

    /* Home Page - Hero Section */
    .home__hero {
        flex-direction: column;
        padding: 30px;
    }

    .home__hero-text {
        width: 100%;
        margin: 0; 
        text-align: center; 
        margin-top: 100px;
    }

    .home__hero-image {
        width: 100%; 
        margin-top: 20px; 
    }

    /* Home Page - Recommendations Section */
    .home__card-container {
        flex-direction: column; 
    }

    .home__destination-card {
        width: 100%; 
        margin-bottom: 20px;
    }

    /* Event */
    .events__section {
        text-align: center; 
    }

    /* Prices */
    .prices__section {
        text-align: center;
    }

    .price-table th,
    .price-table td {
        padding: 5px; 
    }

    /* Adventure Content Styles */
    .adventures__section {
        text-align: center;
    }

    .adventure__image {
        width: 100%; 
        margin-bottom: 10px; 
    }

    /* Contact us */
    .contact__section {
        max-width: 100%; 
        margin: 0 auto; 
    }

    .contact__form {
        max-width: 100%; 
    }

    .form-group {
        margin-bottom: 10px; 
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%; 
    }


    .itinerary-cards {
        flex-direction: column;
        
        
    }

    .itinerary-card {
        width: 100%;
    }
}

.destination-iceland {
    background-image: url(../assets/images/iceland.jpg);
}

.destination-hawaii {
    background-image: url(../assets/images/hawaii.jpg);
}

.destination-greece {
    background-image: url(../assets/images/greece.jpg);
}
    

