body {
    width: 100%;
    margin: 0;
    background-color: rgb(244, 244, 247);
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

h1 {
    font-size: 34px;
    font-weight: 600px;
}

h2 {
    font-size: 30px;
    font-weight: 500px;
}

p {
    font-weight: 600px;
}

p span {
    font-style: italic;
    font-weight: 300;
}

header {
    width: 100%;
    background-color: rgb(15, 15, 31);
    color: white;
}

.header-section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.hero-section {
    position: relative;
    color: white;
    padding: 50px;
    text-align: center;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/black\ panther1.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

.header-section h2 {
    font-size: 24px;
    font-weight: bold;
}

main {
    color: rgb(15, 15, 31);
    flex: 1;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section-contents {
    width: 80%;
}

.cast {
    display: flex;
    flex-wrap: wrap;
}

.cast-individual {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    height: auto;
}

.cast-images {
    width: 200px;
}

.cast-images img {
    width: 200px;
    border-radius: 10px;
}

.names {
    padding: 5px;
}

#link {
    color: rgb(32, 4, 110);
    font-weight: 700px;
}

#link a {
    font-weight: 700px;
}

a:link {
    color: #007bff;
    text-decoration: none;
}

a:visited {
    color: #800080;
}

a:hover {
    color: #ff4500;
    text-decoration: underline;
}

footer {
    background-color: rgb(15, 15, 31);
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        /* Adjust gap between columns */
        margin: 0 auto;
        border-bottom: 1px solid;
    }
}